<a href="https://colab.research.google.com/github/B-Karis/B-Karis/blob/main/coca_cola.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install tabula-py

Collecting tabula-py
  Downloading tabula_py-2.3.0-py3-none-any.whl (12.0 MB)
     |████████████████████████████████| 12.0 MB 28.1 MB/s
Collecting distro
  Downloading distro-1.7.0-py3-none-any.whl (20 kB)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.7.0 tabula-py-2.3.0

In [ ]:
from tabula import read_pdf
from tabula import convert_into
import pandas as pd

In [ ]:
!pip install pdftables

Collecting pdftables
  Downloading pdftables-0.0.4.tar.gz (19 kB)
Collecting pdfminer==20110515
  Downloading pdfminer-20110515.tar.gz (4.1 MB)
     |████████████████████████████████| 4.1 MB 25.4 MB/s
WARNING: Discarding https://files.pythonhosted.org/packages/ce/f8/512bcd1a116d0332ab9fab84c3771d4699216db1086e120d581535665c31/pdfminer-20110515.tar.gz#sha256=114bddcc196b1ce893ab78815e3682ef7c56e9f5990e469dcc64cba93821b8ef (from https://pypi.org/simple/pdfminer/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
Collecting pdftables
  Downloading pdftables-0.0.3.tar.gz (19 kB)
Collecting pdfminer>=20110515
  Downloading pdfminer-20191125.tar.gz (4.2 MB)
     |████████████████████████████████| 4.2 MB 30.1 MB/s
Requirement already satisfied: numpy>=1.6.2 in /usr/local/lib/python3.7/dist-packages (from pdftables) (1.21.5)
Collecting pycryptodome
  Downloading pycryptodome-3.14.1-cp35-abi3-manylinux2010_x86_64.whl (2.0 MB)
     |████████████████████████████████| 2.0 MB 8.9 MB/s
Building wheels for collected packages: pdftables, pdfminer
  Building wheel for pdftables (setup.py) ... done
  Created wheel for pdftables: filename=pdftables-0.0.3-py3-none-any.whl size=18108 sha256=892efce3750b0ecabd3a7d17d2ca7ef5afa1d17c9aa76dd7b16426d552774a8b
  Stored in directory: /root/.cache/pip/wheels/cb/2d/51/898c17d9f15f7fb51d88d4a8e6ae917bd0c5ab72cd3318cbed
  Building wheel for pdfminer (setup.py) ... done
  Created wheel for pdfminer: filename=pdfminer-20191125-py3-none-any.whl size=6140092 sha256=6b05991a7dd6c8e3d13a2f6f3f30b758a0be75b95c1d930068c71ecd26f71f35
  Stored in directory: /root/.cache/pip/wheels/e3/5e/f4/d210b46e9e4a28229ea070ed5b3efa92c3c29d1a7918dd4b97
Successfully built pdftables pdfminer
Installing collected packages: pycryptodome, pdfminer, pdftables
Successfully installed pdfminer-20191125 pdftables-0.0.3 pycryptodome-3.14.1

In [ ]:
import os
import io

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving 2022.pdf to 2022.pdf

In [ ]:
import pdftables

In [ ]:
dir(pdftables)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__']

In [32]:
pg = read_pdf('/2022.pdf', pages =11)
csv=convert_into('/2022.pdf', '/main.csv', output_format ='csv', pages=11)

In [37]:
pg = read_pdf('/content/2010.pdf', pages =7)
csv=convert_into('/content/2010.pdf', '/main_a.csv', output_format ='csv', pages=7)

pg = read_pdf('/content/2012.pdf', pages =18)
csv=convert_into('/content/2012.pdf', '/main_b.csv', output_format ='csv', pages=18)

pg = read_pdf('/content/2014.pdf', pages =13)
csv=convert_into('/content/2014.pdf', '/main_c.csv', output_format ='csv', pages=13)

pg = read_pdf('/content/2016.pdf', pages =12)
csv=convert_into('/content/2016.pdf', '/main_d.csv', output_format ='csv', pages=12)

pg = read_pdf('/content/2018.pdf', pages =10)
csv=convert_into('/content/2018.pdf', '/main_e.csv', output_format ='csv', pages=10)

pg = read_pdf('/content/2019.pdf', pages =10)
csv=convert_into('/content/2019.pdf', '/main_f.csv', output_format ='csv', pages=10)

In [33]:
main=pd.read_csv('/main.csv')
main

,Unnamed: 0,"December 31,","December 31,.1",%
0,NaN,2021,2020,Change
1,Net Operating Revenues,"$ 38,655","$ 33,014",17
2,Cost of goods sold,"15,357","13,433",14
3,Gross Profit,"23,298","19,581",19
4,"Selling, general and administrative expenses","12,144","9,731",25
5,Other operating charges,846,853,(1)
6,Operating Income,"10,308","8,997",15
7,Interest income,276,370,(25)
8,Interest expense,"1,597","1,437",11
9,Equity income (loss) — net,"1,438",978,47
10,Other income (loss) — net,"2,000",841,138
11,Income Before Income Taxes,"12,425","9,749",27
12,Income taxes,"2,621","1,981",32
13,Consolidated Net Income,"9,804","7,768",26
14,Less: Net income (loss) attributable to noncon...,33,21,55
15,Net Income Attributable to Shareowners of The ...,"$ 9,771","$ 7,747",26
16,Basic Net Income Per Share1,$ 2.26,$ 1.80,26
17,Diluted Net Income Per Share1,$ 2.25,$ 1.79,26
18,Average Shares Outstanding,"4,315","4,295",0
19,Effect of dilutive securities,25,28,(11)
20,Average Shares Outstanding Assuming Dilution,"4,340","4,323",0

SyntaxError: ignored

In [ ]:
from google.colab import drive
drive.mount('/content/drive')